# Исключаем виртуальное окружение
venv/

# Исключаем файлы базы данных
db.sqlite3

# Исключаем скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Исключаем логи
logs/
*.log

# Исключаем файлы среды разработки (например, PyCharm, VS Code)
.vscode/
.idea/
login_data.txt